* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Times New Roman", serif;
	min-height: 100vh;

	background-color: linear-gradient(
		135deg,
		#ffe4f0,
		#ffb6d5,
		#f783b7
	);

	padding: 40px 20px;
}

.container {
	max-width: 700px;
	margin: auto;
	text-align: center;
}

h1 {
	color: #c2185b;
	font-size: 42px;
	margin-bottom: 10px;
}

.subtitle {
	color: #7a3655;
	margin-bottom: 25px;
}

#searchBox {
	width: 100%;
	padding: 15px 20px;
	font-size: 16px;
	border: none;
	border-radius: 30px;
	margin-bottom: 25px;
	outline: none;

	box-shadow: 0 10px 30px rgba(194, 24, 91, 0.2);
}

.music-icon {
	font-size: 55px;
	margin-bottom: 15px;
}

.quote-card h2 {

    color: #d81b60;

    margin-bottom: 8px;

}

.quote-card h3 {

    color: #888;

    margin-bottom: 25px;

}

#quote {

    color: #54243a;

    font-size: 21px;

    font-style: italic;

    line-height: 1.6;

    margin-bottom: 25px;

}

button {

    background: #ec407a;

    color: white;

    border: none;

    padding: 12px 20px;

    margin: 5px;

    border-radius: 25px;

    cursor: pointer;

    font-size: 15px;

    transition: 0.3s;

}

button:hover {

    background: #c2185b;

    transform: scale(1.05);

}

.add-box {

    background: white;

    padding: 30px;

    border-radius: 25px;

    margin-bottom: 25px;

}

.add-box h2 {

    color: #c2185b;

    margin-bottom: 20px;

}

.add-box input,

.add-box textarea {

    width: 100%;

    padding: 13px;

    margin-bottom: 12px;

    border: 2px solid #f8bbd0;

    border-radius: 15px;

    font-size: 15px;

    outline: none;

}

.add-box textarea {

    height: 100px;

    resize: none;

}

.song-list {

    background: white;

    padding: 25px;

    border-radius: 25px;

}

.song-list h2 {

    color: #c2185b;

    margin-bottom: 15px;

}

.song-item {

    background: #ffe4ef;

    padding: 15px;

    margin: 10px 0;

    border-radius: 15px;

    cursor: pointer;

    text-align: left;

}

.song-item:hover {

    background: #ffc1da;

}

.song-item strong {

    color: #c2185b;

}

.song-item small {

    display: block;

    color: #777;

    margin-top: 5px;

}

footer {

    margin-top: 25px;

    color: #8e3157;

}